<nav class="nav" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center center" fxLayoutGap.lt-md="2vh" [class.stick]="fixedMenu">
  <h1 class="brand-logo">
    <a routerLink="">
      <img src="/assets/images/geno-logo.svg" alt="Geno logo" class="responsive-img" width="100">
    </a>
  </h1>
  <a mat-raised-button href="https://vitagenum.pl/" target="_blank" class="text-center text-uppercase custom-button white">wróć na vitagenum.pl</a>
</nav>
<header class="header">
  <div class="overlay" fxHide.gt-xs></div>
  <div class="mark white bottom flower"></div>
  <div class="group header-group">
    <h2 class="text-uppercase text-right">geny</h2>
    <h3 class="text-uppercase text-right">klucz do<br> młodej skóry</h3>
  </div>
</header>
<section class="section crew-section" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5vh">
  <div class="mark top white"></div>
  <div class="mark bottom white"></div>
  <div class="logo-wrapper" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutALign.lt-sm="start center" fxLayoutGap="2rem">
    <img src="/assets/images/vitagenum-img.jpg" alt="Vitagenym logo" class="responsive-img">
    <img src="/assets/images/cross-img.png" alt="plus sign" class="responsive-img">
    <img src="/assets/images/norel-img.jpg" alt="Norel logo" class="responsive-img">
  </div>
  <p class="content-wrapper text-center">
    W poszukiwaniu skutecznej pielęgnacji skóry, Laboratorium Kosmetyczne NOREL Dr Wilsz połączyło swoje siły   z Laboratorium genetycznym Vitagenum. Po kilku latach prac badawczych i naukowych poszukiwań, nadszedł czas, aby rozpocząć erę KOSMETOLOGII GENETYCZNEJ, wprowadzając najwyższą formę spersonalizowanej pielęgnacji skóry.
  </p>
  <div class="image-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" fxLayoutAlign.lt-sm="start center" fxLayoutGap="2vw" fxLayoutGap.lt-md="5vw" fxLayoutGap.lt-sm="3vh">
    <div class="image-wrapper crew">
      <div class="image-item border white">
        <img src="/assets/images/crew-item-1.jpg" alt="Adam Kuzdraliński" class="responsive-img">
      </div>
      <p class="text-center">dr Adam Kuzdraliński</p>
    </div>
    <div class="image-wrapper crew">
      <div class="image-item border white">
        <img src="/assets/images/crew-item-2.jpg" alt="Krystyna Wilsz" class="responsive-img">
      </div>
      <p class="text-center">dr Krystyna Wilsz</p>
    </div>
    <div class="image-wrapper crew">
      <div class="image-item border white">
        <img src="/assets/images/crew-item-3.jpg" alt="Tomasz Czernecki" class="responsive-img">
      </div>
      <p class="text-center">dr Tomasz Czernecki</p>
    </div>
  </div>
</section>
<section class="section care-section" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5vh">
  <div class="mark top flower"></div>
  <div class="mark bottom flower"></div>
  <h4 class="text-center text-uppercase">Spersonalizowana pielęgnacja skóry<br> na podstawie <span>badania dna</span></h4>
  <div class="image-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="start center" fxLayoutGap="2vw" fxLayoutGap.lt-lg="5vw" fxLayoutGap.lt-md="3vh">
    <div class="image-wrapper care">
      <div class="image-item border">
        <img src="/assets/images/care-item-1.jpg" alt="test DNA" class="responsive-img">
      </div>
      <p class="text-center text-uppercase">test dna</p>
    </div>
    <div class="image-wrapper care">
      <div class="image-item border">
        <img src="/assets/images/care-item-2.jpg" alt="Genekosmetyki" class="responsive-img">
      </div>
      <p class="text-center text-uppercase">dobór<br> genokosmetyków</p>
    </div>
    <div class="image-wrapper care">
      <div class="image-item border">
        <img src="/assets/images/care-item-3.jpg" alt="potrzeby" class="responsive-img">
      </div>
      <p class="text-center text-uppercase">dokładnie to, czego potrzebuje twoja cera</p>
    </div>
  </div>
  <div class="process-container">
    <h4 class="text-center text-uppercase">jak to działa?</h4>
    <div class="image-container" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="center start" fxLayoutAlign.lt-sm="start center">
      <div class="image-wrapper process" fxFlex="18%" fxFlex.lt-md="30%" fxLayout="column" fxLayoutAlign="start center">
        <div class="image-item">
          <img src="/assets/images/process-img-1.svg" alt="image">
        </div>
        <h5 class="text-center">Wywiad<br> kosmetyczny</h5>
        <p class="text-center">Szczegółowy wywiad i ocena stanu skóry w gabinecie kosmetycznym.</p>
      </div>
      <div class="image-wrapper process" fxFlex="18%" fxFlex.lt-md="30%" fxLayout="column" fxLayoutAlign="start center">
        <div class="image-item">
          <img src="/assets/images/process-img-2.svg" alt="image">
        </div>
        <h5 class="text-center">Pobranie<br> DNA</h5>
        <p class="text-center">Polega na potarciu wacikiem wewnętrznej strony policzka.</p>
      </div>
      <div class="image-wrapper process" fxFlex="18%" fxFlex.lt-md="30%" fxLayout="column" fxLayoutAlign="start center">
        <div class="image-item">
          <img src="/assets/images/process-img-3.svg" alt="image">
        </div>
        <h5 class="text-center">Analiza<br> DNA</h5>
        <p class="text-center">DNA jest badane w laboratorium genetycznym Vitagenum.</p>
      </div>
      <div class="image-wrapper process" fxFlex="18%" fxFlex.lt-md="30%" fxLayout="column" fxLayoutAlign="start center">
        <div class="image-item">
          <img src="/assets/images/process-img-4.svg" alt="image">
        </div>
        <h5 class="text-center">Raport<br> Genokosmetyczny</h5>
        <p class="text-center">Wyniki testu DNA to indywidualny profil genetyczny i diagnoza problemów dotyczących starzenia oraz zdrowia skóry.</p>
      </div>
      <div class="image-wrapper process" fxFlex="18%" fxFlex.lt-md="30%" fxLayout="column" fxLayoutAlign="start center">
        <div class="image-item">
          <img src="/assets/images/process-img-5.svg" alt="image">
        </div>
        <h5 class="text-center">Dobór<br> Genokosmetyków</h5>
        <p class="text-center">Plan genopielęgnacji powstaje na podstawie wyniku badania DNA oraz wywiadu kosmetycznego.</p>
      </div>
    </div>
  </div>
</section>
<section class="section advantages-section" fxLayout="row" fxLayout.lt-md="column">
  <div class="mark top white"></div>
  <div class="mark bottom white"></div>
  <div class="box left-box" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5vh">
    <h4 class="text-center text-uppercase">odkrywanie - testy genetyczne</h4>
    <p class="text-center">W laboratorium Vitagenum wybraliśmy te geny, które znacząco wpływają na skórę i proces starzenia.</p>
  </div>
  <div class="box right-box" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5vh">
    <h4 class="text-center text-uppercase">pielęgnacja - genokosmetyki</h4>
    <p class="text-center">Genokosmetyki GENO Dr Wilsz są dedykowane dla każdego problemu, jaki zindetyfikujemy na podstawie badania DNA</p>
  </div>
</section>
<footer class="footer" fxLayout="row">
  <div class="mark top white flower"></div>
  <div class="box left-box" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center end" fxLayoutAlign.lt-md="center center">
    <h3 class="text-right text-uppercase">wejdź na<br><a href="www.genokosmetyki.pl">www.genokosmetyki.pl</a></h3>
    <p class="text-right">sprawdź, jaki salon w Twojej okolicy<br>bierze udział w Programie  Genokosmetycznym</p>
    <a mat-raised-button href="https://www.genokosmetyki.pl" target="_blank" class="text-center text-uppercase custom-button border">wejdź</a>
  </div>
  <div class="box right-box" fxFlex="50%" fxLayout="column" fxLayoutAlign="center start" fxHide.lt-md>
    <img src="/assets/images/map.png" alt="Poland map" class="responsive-img">
  </div>
</footer>
