@import '../styles';

.nav {
  height: 90px;
  padding: 0 10vw;
  background-color: $black-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @include transition(box-shadow .5s cubic-bezier(.17,.67,.53,1));
  &.stick {
    box-shadow: $shadow1, $shadow2, $shadow3;
  }
  h1 {
    margin: 0;
    @media screen and (max-width: 959px) {
      width: 80px;
    }
  }
}
.section, .header, .footer {
  position: relative;
}
.header {
  margin: 90px 0 0;
  min-height: 70vh;
  padding: 20vh 30vw;
  background: $grey-bg url('/assets/images/header-img.jpg') no-repeat right center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  @media screen and (max-width: 959px) {
    padding: 20vh 10vw;
  }
  .overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $overlay-bg;
  }
}
.group {
  &.header-group {
    border-right: 2px solid $white-border-color;
    padding: 1.5rem;
    position: relative;
    z-index: 5;
    @media screen and (max-width: 959px) {
      border-right: 0;
      border-left: 2px solid $white-border-color;
    }
    h2, h3 {
      color: $white-font-color;
      @media screen and (max-width: 959px) {
        text-align: left;
      }
    }
    h2 {
      margin: 0 0 1.5rem;
    }
    h3 {
      margin: 1.5rem 0 0;
    }
  }
}
.crew-section {
  padding: 15vh 30vw;
  background: $alt-bg;
  @media screen and (max-width: 1279px) {
    padding: 5vh 20vw;
  }
  @media screen and (max-width: 959px) {
    padding: 5vh 10vw;
  }
  p {
    color: $white-font-color;
  }
  .content-wrapper {
    max-width: 80%;
    @media screen and (max-width: 959px) {
      max-width: 100%;
    }
  }
  .logo-wrapper {
    width: 100%;
    img {
      max-width: 163px;
    }
  }
  .mark {
    &.bottom {
      margin-bottom: 0!important;
    }
  }
}
.care-section {
  padding: 20vh 20vw;
  background: $white-bg;
  @media screen and (max-width: 1279px) {
    padding: 5vh 10vw;
  }
  @media screen and (max-width: 959px) {
    padding: 5vh 5vw;
  }
  h4 {
    span {
      color: $alt-font-color;
    }
  }
  .mark {
    &.bottom {
      margin-bottom: 0!important;
    }
  }
}
.advantages-section {
  min-height: 50vh;
  h4, p {
    color: $white-font-color;
  }
  p {
    max-width: 350px;
    font-size: .75rem;
  }
  .left-box {
    background: $alt-bg url('/assets/images/box-left-img.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .right-box {
    background: $alt-bg url('/assets/images/box-right-img.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .left-box, .right-box {
    @media screen and (max-width: 959px) {
      padding: 20vh 10vw;
    }
  }
}
.image-wrapper {
  position: relative;
  &.care {
    p {
      position: absolute;
      z-index: 3;
      color: $white-font-color;
      font-size: .75rem;
      top: 0;
      left: 30px;
      right: 30px;
      margin: 0;
      padding: 1.5rem .5rem;
      background-color: $alt-bg;
      height: 80px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
  &.process {
    @media screen and (max-width: 959px) {
      margin: 3vh 0 0;
      padding: 0 .5rem;
    }
    @media screen and (max-width: 599px) {
      padding: 0;
      max-width: 300px;
    }
    .image-item {
      img {
        height: 100px;
        max-height: 100px;
        width: auto;
      }
    }
    p {
      font-size: .75rem;
    }
  }
}
.image-item {
  &.border {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      z-index: 3;
      top: -12px;
      left: 12px;
      width: 100%;
      height: 100%;
      border: 1px dashed $black-border-color;
      background: transparent;
    }
    &.white {
      &::before {
        border: 1px dashed $white-border-color;
      }
    }
  }
}
.process-container {
  margin: 5vh 0 0;
  padding: 5vh 0 0;
  position: relative;
  border-top: 1px dashed $black-border-color;
  &::before, &::after {
    content: '';
    position: absolute;
    z-index: 3;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $black-border-color;
    background-color: $white-bg;
    transform: rotate(45deg);
    transform-origin: center;
  }
  &::before {
    top: -16px;
    left: -15px;
    @media screen and (max-width: 599px) {
      left: 0;
    }
  }
  &::after {
    top: -16px;
    right: -15px;
    @media screen and (max-width: 599px) {
      right: 0;
    }
  }
  .image-container {
    margin: 5vh 0 0;
  }
}
.footer {
  padding: 20vh 0;
  background: $grey-bg;
  @media screen and (max-width: 959px) {
    padding: 5vh 10vw;
  }
  h3, p {
    color: $white-font-color;
    @media screen and (max-width: 959px) {
      text-align: center;
    }
  }
  h3 {
    margin: 0 0 2rem;
    a {
      text-transform: lowercase;
      color: $alt-font-color;
      text-decoration: none;
      &:hover, &:active {
        color: $dark-font-color;
        text-decoration: underline;
      }
      @media screen and (max-width: 599px) {
        font-size: 1.5rem;
      }
    }
  }
  p {
    font-size: .75rem;
  }
  .left-box {
    padding: 0 3vw 0 0;
  }
  .right-box {
    padding: 0 0 0 3vw;
  }
}
