/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//FONT WEIGHT
$regular: 400;
$bold: 700;

//FONT COLORS
$white-font-color: rgb(255, 255, 255);
$dark-font-color: rgb(30, 31, 35);
$alt-font-color: rgb(237, 156, 110);

//BACKGROUND COLORS
$white-bg: rgb(255, 255, 255);
$black-bg: rgb(0, 0, 0);
$dark-bg: rgb(30, 31, 35);
$alt-bg: rgb(237, 156, 110);
$overlay-bg: rgba(145, 137, 135, .6);
$grey-bg: rgb(145, 137, 135);

//BORDER COLORS
$white-border-color: rgb(255, 255, 255);
$black-border-color: rgb(0, 0, 0);
$dark-border-color: rgb(30, 31, 35);
$alt-border-color: rgb(237, 156, 110);

$button-shadow: 0px 1px 5px 0px rgba(0,0,0,0.62);

$shadow1: 0 3px 5px -1px rgba(0,0,0,.2);
$shadow2: 0 6px 10px 0 rgba(0,0,0,.14);
$shadow3: 0 1px 18px 0 rgba(0,0,0,.12);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/*
border radius z vendorami
.box { @include border-radius(10px); }
*/

/*transition*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
/*
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}*/

/*gradient*/
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}
/*
.gradient {
  @include background-gradient(#3498db, #2c3e50, horizontal);
}
*/

/*triangle*/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}
/*
.triangle {
  @include css-triangle(red, up, 100px);
}*/

/*shadow*/
@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}
/*
.shadow {
  @include shadow(1px 2px red);
}*/

/*placeholder*/
@mixin placeholder($placeholder-color) {
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
  &::placeholder {
    color: $placeholder-color;
  }
}
/*
@include placeholder($color);
*/

/* Reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: $regular;
  font-size: 1rem;
  background: $white-bg;
  color: $dark-font-color;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  img {
    border: 0;
  }
  -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  &:hover, &:active {
    text-decoration: none;
    color: $alt-font-color;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }
}
button {
  &:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }
}
textarea {
  &.mat-input-element {
    resize: none;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.custom-button {
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 190px;
  text-align: center;
  color: $white-font-color;
  font-size: 1.125rem;
  font-weight: $regular;
  @extend .text-uppercase;
  padding: .5rem 2rem .5rem;
  border: 2px solid $alt-border-color;
  text-decoration: none;
  margin: 1.5rem 0;
  background: $alt-bg;
  box-shadow: none!important;
  @include transition(background .5s cubic-bezier(.17,.67,.53,1), color .5s cubic-bezier(.17,.67,.53,1));
  &:hover, &:active {
    cursor: pointer;
    color: $alt-font-color;
    background: $white-bg;
  }
  &.border {
    &::before {
      content: '';
      position: absolute;
      z-index: 3;
      top: -6px;
      left: 6px;
      width: 100%;
      height: 100%;
      border: 1px dashed $white-border-color;
      background: transparent;
      -webkit-transition: border .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -moz-transition: border .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -ms-transition: border .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -o-transition: border .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      transition: border .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    }
    &:hover, &:active {
      &::before {
        border: 1px dashed $alt-font-color;
      }
    }
  }
  &.white {
    color: $white-font-color;
    border: 2px solid $white-border-color;
    background: transparent;
    margin: 0;
    &:hover, &:active {
      color: $alt-font-color;
      background: $white-bg;
    }
    @media screen and (max-width: 959px) {
      font-size: .75rem;
      padding: .5rem 1rem .5rem;
    }
  }
  //@media screen and (max-width: 1279px) {
  //  display: block;
  //  width: 260px;
  //  margin: 1.5rem auto;
  //}
}
h2 {
  color: $dark-font-color;
  font: {
    size: 4.5rem;
    family: 'Lato', sans-serif;
    weight: $bold;
  }
  margin: 1.5rem 0;
  @media screen and (max-width: 959px) {
    font-size: 3rem;
  }
}
h3 {
  color: $dark-font-color;
  font: {
    size: 2rem;
    family: 'Lato', sans-serif;
    weight: $regular;
  }
  margin: 1.5rem 0;
}
h4 {
  color: $dark-font-color;
  font: {
    size: 1.5rem;
    family: 'Lato', sans-serif;
    weight: $regular;
  }
  margin: 1.5rem 0;
}
h5 {
  color: $dark-font-color;
  font: {
    size: 1rem;
    family: 'Lato', sans-serif;
    weight: $regular;
  }
  margin: 1.5rem 0;
}
p {
  color: $dark-font-color;
  font: {
    size: 1rem;
    weight: $regular;
    family: 'Lato', sans-serif;
  };
}
.mat-raised-button {
  @include border-radius(0);
  &:not([class*="mat-elevation-z"]) {
    @include shadow($button-shadow);
    line-height: 1.3;
  }
}
.mark {
  position: absolute;
  z-index: 999;
  display: block;
  height: 10vh;
  width: 1px;
  border-left: 1px dashed $black-border-color;
  left: 50%;
  @media screen and (max-width: 1279px) {
    display: none;
  }
  &.white {
    border-left: 1px dashed $white-border-color;
  }
  &.top {
    top: 0;
    &.flower {
      &::before {
        top: auto;
        bottom: -35px;
      }
    }
  }
  &.bottom {
    bottom: 0;
    &.flower {
      &::before {
        top: -35px;
        bottom: auto;
      }
    }
  }
  &.flower {
    &::before {
      content: '';
      position: absolute;
      z-index: 1001;
      display: block;
      width: 30px;
      height: 35px;
      left: -15.5px;
    }
    &.white {
      &.bottom {
        &::before {
          background: url('/assets/images/mark-white.svg') no-repeat center;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
      &.top {
        &::before {
          transform: rotate(180deg);
          background: url('/assets/images/mark-white.svg') no-repeat center;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
    }
    &.top {
      &::before {
        transform: rotate(180deg);
        background: url('/assets/images/mark-black.svg') no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
    &.bottom {
      &::before {
        background: url('/assets/images/mark-black.svg') no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }
}
